@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.45px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6F2;
}

.nav {
  background-color: black;
  padding: 10px;
  position: sticky;
  top:0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.nav button {
  color: white;
  font-weight: bolder;
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.nav button:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav button:before {
  content: "\f521";
  font-family: "Boxicons";
  position: absolute;
  top: 50%;
  left: -25px;
 
}

.expbar {
  background: linear-gradient(black, dimgrey);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  position: relative;
}

.expbar label {
  display: block;
  margin: 8px;
  color: #FFFFFF;
}
.nav button i.bx-crown {
  color: yellow;
  margin-right: 3px;
}

.expbar input,
.expbar select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #c2c2c2;
  color: #000000;
}

.anyButton {
  background-color: orange;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.expbar button {
  display: block;
  margin: 10px auto;
}

.expbar button:hover {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.table-wrap {
  padding: 0 10%;
  margin: 40px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #6E6E6E;
  text-align: center;
}

.table thead tr th {
  padding: 10px;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
}

.table tbody tr td {
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #c2c2c2;
}

@media (max-width: 770px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 40%;
    position: relative;
    word-wrap: break-word;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    width: 50%;
    left: 0;
    padding-left: 10px;
    text-align: left;
  }
}

.heading h1{
 text-align: center;
 background-color: #000000;
 color: white;
 padding: 5px;
}
.table-heading{
  text-align: center;
}
.select {
  text-align: center;
  margin: 20px 0;
}
#download-report{
  display: block;
  margin: 0 auto;
  box-shadow:0 0 5px 5px #6E6E6E;
}
#paginate{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.page-btn{
  background-color:transparent;
  outline: none;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 5px ;
  cursor: pointer;
}
.currPage{
  background-color: #000000;
  color: white;
}
.limit {
  position: absolute;
  bottom: 5px;
  right: 20px;
}
#limit{
  cursor: pointer;
}
.back{
  cursor: pointer;
  margin: 5px 15px;
  color: white;
  font-size: large;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0,0.5);
}
.back:hover{
  background-color: rgba(0, 0, 0,0.3);
}
.footer{
  background-color: #000000;
  color: white;
  min-height: 50px;
  display: flex;
  justify-content: center;
 align-items: center;
}
.footer p i{
  color: red;
}