@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.45px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6F2;
}

.nav {
  background-color: black;
  padding: 10px;
  position: sticky;
  top:0;
  z-index: 100;
}

.nav button {
  color: white;
  font-weight: bolder;
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.nav button:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav button:before {
  content: "\f521";
  font-family: "Boxicons";
  position: absolute;
  top: 50%;
  left: -25px;
 
}

.expbar {
  background: linear-gradient(black, dimgrey);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.expbar label {
  display: block;
  margin: 8px;
  color: #FFFFFF;
}
.nav button i.bx-crown {
  color: yellow;
  margin-right: 3px;
}

.expbar input,
.expbar select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #c2c2c2;
  color: #000000;
}

.anyButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.expbar button {
  display: block;
  margin: 10px auto;
}

.expbar button:hover {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.table-wrap {
  padding: 0 10%;
  margin: 40px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #6E6E6E;
  text-align: center;
}

.table thead tr th {
  padding: 10px;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
}

.table tbody tr td {
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: #c2c2c2;
}

@media (max-width: 770px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    width: 50%;
    left: 0;
    padding-left: 10px;
    text-align: left;
  }
}

.heading h1{
 text-align: center;
 background-color: #000000;
 color: white;
 padding: 5px;
}
.table-heading{
  text-align: center;
}
.select {
  text-align: center;
  margin: 20px 0;
}
#download-report{
  display: block;
  margin: 0 auto;
  box-shadow:0 0 5px 5px #6E6E6E;
}
