<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
  <link rel="stylesheet" href="/style/expense.css">
  <link rel="stylesheet" href="/style/global.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
  <div class="nav">
    <nav>
      <button type="button" id="leader-btn"><i class='bx bx-crown'></i>Leaderboard</button>
      <button type="button" id="reports-btn"><i class='bx bx-crown'></i>Reports</button>
      <button type="button" id="premium-btn"><i class='bx bx-crown'></i>Buy Premium</button>
    </nav>
    <button id="logout">Logout</button>
  </div>
  <div class="expbar">
    <form id="exp-form">
      <div class="input-box">
        <label for="amount">Enter amount</label>
        <input type="number" name="amount" id="exp-amt">
      </div>
      <div class="input-box">
        <label for="desc">Enter description</label>
        <input type="text" name="desc" id="exp-desc">
      </div>
      <div class="input-box">
        <label for="category">Choose type</label>
        <select name="category" id="category">
          <option value="Fashion and clothing">Fashion and clothing</option>
          <option value="Education">Education</option>
          <option value="Transportation">Transportation</option>
          <option value="Utilities">Utilities</option>
          <option value="Rent">Rent</option>
          <option value="Groceries">Groceries</option>
          <option value="Foods and beverages">Foods and beverages</option>
          <option value="Makeup and accessories">Makeup and accessories</option>
        </select>
      </div>
      <button type="submit" class="anyButton">Add Expense</button>
    </form>
    <div class="limit">
      <label for="limit">Show:</label>
      <select name="limit" id="limit">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
     
    </div>
  </div>

  <div class="table-wrap">
    <table class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </div>
  <div id="paginate"></div>
  <footer class="footer"><p>Made with <i class='bx bxs-heart'></i> by Shubham</p></footer>
  <script src="/DOM/expense.js"></script>
</body>

</html>
