<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/expense.css">
    <link rel="stylesheet" href="/Style/global.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Leaderboard</title>
</head>
<body>
    <div class="heading">
        <h1>Leader Board</h1>
    </div>
        <button class="back" id="back-btn"><</button>
  
    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Total Expense</th>
                </tr>
            </thead>
            
            <tbody id="t-body"></tbody>
        </table>
    </div>
    <script src="/DOM/leaderboard.js"></script>
</body>
</html>