<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/forgot.css">
    <link rel="stylesheet" href="/style/global.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Update Password</title>
</head>
<body>
    <div class="update-box">
        <form class="input-update" id="update-pass">
            <input type="password" id="update-password" placeholder="Enter new password" required>
            <button type="submit" class="submit-btn" id="update-sub-btn">Submit</button>
        </form>
    </div>
    <script src="/DOM/update-pass.js"></script>
</body>
</html>